html,
body {
  padding: 0;
  margin: 0;
  font-family: General sans, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  ul, ol, li {
    list-style: revert;
  }
}

.mode-wrapper {
  @apply mx-auto w-full max-w-2xl
}

.category-wrapper {
  z-index: 10;
  @apply mx-auto w-full max-w-2xl rounded-xl bg-fdark-400 p-3 shadow mb-16 relative
}

.absolute-category {
  position: absolute;
  left: 0;
  top: -35px;
  z-index: -1;
}

.rounded-bottom-corner {
  position: absolute;
  bottom: -7px;
  left: 0;
  width: 100%;
}

.sources {
  @apply text-sm text-white;
}
.sources a {
  word-break: break-all;
  @apply text-white
}
.sources a:hover {
  @apply text-gray-200;
}

header {
  background: linear-gradient(105.05deg, #FF2048 -19.44%, #FF9900 142.96%);
  width: 100%;
  position: relative;
}

.img-logo {
  width: 64px;
}