html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  ul, ol, li {
    list-style: revert;
  }
}

.mode-wrapper {
  @apply mx-auto w-full max-w-2xl rounded-2xl bg-gradient-to-r to-indigo-500 from-purple-500 p-3 shadow
}

.sources {
  @apply text-sm text-white;
}
.sources a {
  word-break: break-all;
  @apply text-white
}
.sources a:hover {
  @apply text-gray-200;
}
